.profile__user-profession {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  margin: 0;
  max-width: 294px;

  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 527px) {
  .profile__user-profession {
    font-size: 14px;
    line-height: 1.21;
    margin-top: 10px;
    text-align: center;
  }
}
