.profile__avatar-edit-button {
  /* background-image: url(../../../images/j_iv_kusto.jpg); */
  flex-grow: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none !important;
}

.profile__avatar-edit-button:hover::after {
  content: url(../../../images/editavatarbutton.svg);
}
