.gallery__like-button {
  height: 19px;
  width: 22px;
  background-image: url(../../../images/like_img.svg);
  border: none;
  margin-right: 20px;
  margin-top: 31px;
  justify-self: end;
}

.gallery__like-button:active {
  background-image: url(../../../images/black_like_img.svg);
  opacity: 1;
}
