.profile__photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

/* styles for 320-527 */
@media screen and (max-width: 527px) {
  .profile__photo {
    margin-left: 50px;
    margin-right: 50px;
  }
}
